{% extends 'base.html' %}
{% load static %}
{% block ad_style %}<link href="{% static 'css/welcome_page_style.css' %}" type="text/css" rel="stylesheet"> {% endblock %}
{% block content %}
    <!-- Баннер -->
<div class="hero-banner">
    <div class="hero-content">
        {% if not user.is_authenticated %}
        <h1>Добро пожаловать в WanderNest</h1>
        <p>Откройте для себя лучшие уголки мира с нами</p>
        {% else %}
        <h1>Здравствуйте {{user.username}}</h1>
        <p>Спасибо, что вы с нами </p>
        {% endif %}
        <a href="{% url 'destinations_page' %}" class="cta-button">Забронировать тур</a>
    </div>
</div>
{% endblock %}
