/* Общие стили для всех страниц */
.wander-nest {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
    height: 100%;
    overflow-x: hidden;
}

/* Хедер */
.wander-nest .header {
    background-color: #333;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.wander-nest .header .logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.wander-nest .header .menu {
    display: flex;
    gap: 20px;
    align-items: center;
}

.wander-nest .header .menu a {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
}

.wander-nest .header .menu a:hover {
    color: #ffa500;
    transform: scale(1.1);
}

/* Стили для кнопок и формы выхода */
.wander-nest .header .auth-buttons a, .wander-nest .header .auth_user a, .wander-nest .header .auth_user form button {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    padding: 10px 15px;
    background-color: #ff4500;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s ease;
}

.wander-nest .header .auth-buttons a:hover,
.wander-nest .header .auth_user a:hover,
.wander-nest .header .auth_user form button:hover {
    background-color: #e43f00;
    transform: scale(1.1);
}