/* === ОБЩИЕ СТИЛИ === */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f7fa;
}

.wander-nest {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.auth-page {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    padding: 30px;
    transition: transform 0.3s, box-shadow 0.3s ease;
}

.auth-page:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.auth-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.auth-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.auth-form input {
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    transition: border 0.3s ease;
}

.auth-form input:focus {
    border-color: #ff4500; /* Подсветка при фокусе */
}

.auth-errors ul {
    padding: 0;
    list-style: none;
    color: #ff4500;
    margin-bottom: 20px;
}

.auth-errors li {
    font-size: 14px;
}

.btn-submit {
    padding: 12px 0;
    background-color: #ff4500;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s, transform 0.3s ease;
}

.btn-submit:hover {
    background-color: #e43f00;
    transform: scale(1.1); /* Легкое увеличение при наведении */
}

.auth-switch {
    text-align: center;
    font-size: 14px;
    color: #777;
    margin-top: 20px;
}

.auth-switch a {
    color: #ff4500;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.auth-switch a:hover {
    color: #e43f00;
}

/* === МЕДИА-ЗАПРОСЫ === */
@media (max-width: 768px) {
    .auth-page {
        padding: 20px;
        width: 90%;
    }

    .auth-title {
        font-size: 22px;
    }

    .auth-form input {
        padding: 10px;
        font-size: 14px;
    }

    .btn-submit {
        font-size: 14px;
    }

    .auth-switch {
        font-size: 13px;
    }
}