/* Баннер на главной странице (welcome) */
.wander-nest .hero-banner {
    background-image: url('https://images.wallpaperscraft.ru/image/single/pliazh_palmy_leto_121803_1920x1080.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 0 20px;
    opacity: 0;
    animation: fadeIn 2s forwards 2s;
}

.wander-nest .hero-banner .hero-content h1 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 15px;
    opacity: 0;
    animation: fadeIn 1s forwards 2.5s;
}

.wander-nest .hero-banner .hero-content p {
    font-size: 20px;
    margin-bottom: 25px;
    opacity: 0;
    animation: fadeIn 1s forwards 3s;
}

.wander-nest .hero-banner .cta-button {
    padding: 15px 30px;
    background-color: #ff4500;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    text-transform: uppercase;
    transition: background-color 0.3s, transform 0.3s ease;
    opacity: 0;
    animation: fadeIn 1s forwards 3.5s;
}

.wander-nest .hero-banner .cta-button:hover {
    background-color: #e43f00;
    transform: scale(1.1);
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}