{% extends 'base_form.html'%}
{% block form_content %}
<!-- Страница регистрации -->
        <section class="auth-page">
            <div class="auth-container">
                <div class="auth-card">
                    <h2 class="auth-title">Создайте учетную запись</h2>
                    <form method="POST">
                        {% csrf_token %}
                        {{form.as_p}}
                        <button type="submit" class="btn-register">
                        Зарегистрироваться
                        </button>
                    </form>
                    <p class="auth-switch">Уже есть аккаунт? <a href="{% url 'auth_page'%}">Войдите здесь</a></p>
                </div>
            </div>
        </section>
{% endblock %}