{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderNest - Путешествуй с нами</title>

    <!-- Подключение CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    {% block ad_style %}{% endblock %}
</head>

<body>

<!-- ХЕДЕР -->
<header class="wn-header">
    <a href="{% url 'welcome_page' %}" class="wn-logo">WanderNest</a>

    <nav class="wn-menu">
        <a href="{% url 'welcome_page' %}">Главная</a>
        <a href="{% url 'destinations_page' %}">Туры</a>
        <a href="#contact">Контакты</a>
    </nav>

    <div class="wn-auth-buttons">
        {% if user.is_authenticated %}
            <div class="wn-user-area">
                <a href="{% url 'user_page' %}" class="wn-auth-user">{{ user.username }}</a>
            </div>
        {% else %}
            <a href="{% url 'auth_page' %}">Войти</a>
            <a href="{% url 'registration_page' %}">Регистрация</a>
        {% endif %}
    </div>
</header>

<!-- ОСНОВНОЙ КОНТЕНТ -->
<main class="wn-wander-nest">
    {% block content %}{% endblock %}
</main>

</body>
</html>