{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderNest - Путешествуй с нами</title>
    <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet">
    {% block ad_style %}{% endblock %}
</head>
<body class="wander-nest">
    <!-- Хедер -->
   <header class="header">
    <a href="#" class="logo">WanderNest</a>

    <nav class="menu">
        <a href="{% url 'welcome_page' %}">Главная</a>
        <a href="{% url 'destinations_page' %}">Туры</a>
        <a href="#contact">Контакты</a>
    </nav>

    <div class="auth-buttons">
        {% if not user.is_authenticated %}
            <a href="{% url 'auth_page' %}">Войти</a>
            <a href="{% url 'registration_page' %}">Регистрация</a>
        {% else %}
            <div class="user-area">
                <div class="auth_user">
                    <a href="{% url 'user_page' %}">{{ user.username }}</a>
                </div>
        {% endif %}
            </div>
</header>

    <!-- Контент страницы -->
    {% block content %}{% endblock %}
</body>
</html>