{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderNest - Путешествуй с нами</title>
    <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet">
    {% block ad_style %}{% endblock %}
</head>
<body class="wander-nest">
    <!-- Хедер -->
    <header class="header">
        <a href="#" class="logo">WanderNest</a>
        <nav class="menu">
            <a href="{% url 'welcome_page' %}">Главная</a>
            <a href="{% url 'destination_page' %}">Направления</a>
            <a href="#booking">Бронирование</a>
            <a href="#contact">Контакты</a>
        </nav>
        <div class="auth-buttons">
            <a href="{% url 'auth_page' %}">Войти</a>
            <a href="{% url 'registration_page' %}">Регистрация</a>
        </div>
    </header>
{% block content %}{% endblock %}
</body>
</html>